In [3]:
os.getcwd()

'/Users/zhewenhu'

In [6]:
import os
import pandas as pd

In [4]:
os.chdir('/Users/zhewenhu/downloads')

In [7]:
home_data = pd.read_csv('train.csv')

In [8]:
# Set up code checking
from learntools.core import binder
binder.bind(globals())
from learntools.machine_learning.ex3 import *

print("Setup Complete")

ModuleNotFoundError: No module named 'learntools'

In [9]:
pip install learntools

The following command must be run outside of the IPython shell:

    $ pip install learntools

The Python package manager (pip) can only be used from outside of IPython.
Please reissue the `pip` command in a separate terminal or command prompt.

See the Python documentation for more informations on how to install packages:

    https://docs.python.org/3/installing/

In [10]:
# print the list of columns in the dataset to find the name of the prediction target
home_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [11]:
home_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [12]:
y = home_data.SalePrice

In [13]:
# Create the list of features below
feature_names = ['LotArea','YearBuilt','1stFlrSF','2ndFlrSF','FullBath','BedroomAbvGr','TotRmsAbvGrd','PoolArea','MSSubClass']

# select data corresponding to features in feature_names
X = home_data[feature_names]

In [14]:
print X

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(X)? (<ipython-input-14-e37e95b4dfca>, line 1)

In [15]:
X

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd,PoolArea,MSSubClass
0,8450,2003,856,854,2,3,8,0,60
1,9600,1976,1262,0,2,3,6,0,20
2,11250,2001,920,866,2,3,6,0,60
3,9550,1915,961,756,1,3,7,0,70
4,14260,2000,1145,1053,2,4,9,0,60
5,14115,1993,796,566,1,1,5,0,50
6,10084,2004,1694,0,2,3,7,0,20
7,10382,1973,1107,983,2,3,7,0,60
8,6120,1931,1022,752,2,2,8,0,50
9,7420,1939,1077,0,1,2,5,0,190
10,11200,1965,1040,0,1,3,5,0,20
11,11924,2005,1182,1142,3,4,11,0,60
12,12968,1962,912,0,1,2,4,0,20
13,10652,2006,1494,0,2,3,7,0,20
14,10920,1960,1253,0,1,2,5,0,20
15,6120,1929,854,0,1,2,5,0,45
16,11241,1970,1004,0,1,2,5,0,20
17,10791,1967,1296,0,2,2,6,0,90
18,13695,2004,1114,0,1,3,6,0,20
19,7560,1958,1339,0,1,3,6,0,20
20,14215,2005,1158,1218,3,4,9,0,60
21,7449,1930,1108,0,1,3,6,0,45
22,9742,2002,1795,0,2,3,7,0,20
23,4224,1976,1060,0,1,3,6,0,120
24,8246,1968,1060,0,1,3,6,0,20
25,14230,2007,1600,0,2,3,7,0,20
26,7200,1951,900,0,1,3,5,0,20
27,11478,2007,1704,0,2,3,7,0,20
28,16321,1957,1600,0,1,2,6,0,20
29,6324,1927,520,0,1,1,4,0,30
...,...,...,...,...,...,...,...,...,...
1430,21930,2005,734,1104,2,4,7,0,60
1431,4928,1976,958,0,2,2,5,0,120
1432,10800,1927,968,0,2,4,5,0,30
1433,10261,2000,962,830,2,3,8,0,60
1434,17400,1977,1126,0,2,3,5,0,20
1435,8400,1962,1537,0,1,3,7,0,20
1436,9000,1971,864,0,1,3,5,0,20
1437,12444,2008,1932,0,2,2,7,0,20
1438,7407,1957,1236,0,1,2,6,0,20
1439,11584,1979,1040,685,2,3,6,0,60
1440,11526,1922,1423,748,2,3,11,0,70
1441,4426,2004,848,0,1,1,3,0,120
1442,11003,2008,1026,981,2,3,10,0,60
1443,8854,1916,952,0,1,2,4,0,30
1444,8500,2004,1422,0,2,3,7,0,20
1445,8400,1966,913,0,1,3,6,0,85
1446,26142,1962,1188,0,1,3,6,0,20
1447,10000,1995,1220,870,2,3,8,0,60
1448,11767,1910,796,550,1,2,6,0,50
1449,1533,1970,630,0,1,1,3,0,180
1450,9000,1974,896,896,2,4,8,0,90
1451,9262,2008,1578,0,2,3,7,0,20
1452,3675,2005,1072,0,1,2,5,0,180
1453,17217,2006,1140,0,1,3,6,0,20
1454,7500,2004,1221,0,2,2,6,0,20
1455,7917,1999,953,694,2,3,7,0,60
1456,13175,1978,2073,0,2,3,7,0,20
1457,9042,1941,1188,1152,2,4,9,0,70
1458,9717,1950,1078,0,1,2,5,0,20
1459,9937,1965,1256,0,1,3,6,0,20

In [16]:
# print description or statistics from X
print(X.describe())

# print the top few lines
print(X.head())

print(X.info())

             LotArea    YearBuilt     1stFlrSF     2ndFlrSF     FullBath  \
count    1460.000000  1460.000000  1460.000000  1460.000000  1460.000000
mean    10516.828082  1971.267808  1162.626712   346.992466     1.565068
std      9981.264932    30.202904   386.587738   436.528436     0.550916
min      1300.000000  1872.000000   334.000000     0.000000     0.000000
25%      7553.500000  1954.000000   882.000000     0.000000     1.000000
50%      9478.500000  1973.000000  1087.000000     0.000000     2.000000
75%     11601.500000  2000.000000  1391.250000   728.000000     2.000000
max    215245.000000  2010.000000  4692.000000  2065.000000     3.000000

       BedroomAbvGr  TotRmsAbvGrd     PoolArea   MSSubClass
count   1460.000000   1460.000000  1460.000000  1460.000000
mean       2.866438      6.517808     2.758904    56.897260
std        0.815778      1.625393    40.177307    42.300571
min        0.000000      2.000000     0.000000    20.000000
25%        2.000000      5.000000     0.000000    20.000000
50%        3.000000      6.000000     0.000000    50.000000
75%        3.000000      7.000000     0.000000    70.000000
max        8.000000     14.000000   738.000000   190.000000
   LotArea  YearBuilt  1stFlrSF  2ndFlrSF  FullBath  BedroomAbvGr  \
0     8450       2003       856       854         2             3
1     9600       1976      1262         0         2             3
2    11250       2001       920       866         2             3
3     9550       1915       961       756         1             3
4    14260       2000      1145      1053         2             4

   TotRmsAbvGrd  PoolArea  MSSubClass
0             8         0          60
1             6         0          20
2             6         0          60
3             7         0          70
4             9         0          60
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 9 columns):
LotArea         1460 non-null int64
YearBuilt       1460 non-null int64
1stFlrSF        1460 non-null int64
2ndFlrSF        1460 non-null int64
FullBath        1460 non-null int64
BedroomAbvGr    1460 non-null int64
TotRmsAbvGrd    1460 non-null int64
PoolArea        1460 non-null int64
MSSubClass      1460 non-null int64
dtypes: int64(9)
memory usage: 102.7 KB
None

In [17]:
from sklearn.tree import DecisionTreeRegressor
#specify the model. 
#For model reproducibility, set a numeric value for random_state when specifying the model
iowa_model = DecisionTreeRegressor(random_state=1)

In [19]:
iowa_model

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [22]:
iowa_model.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [23]:
predictions = iowa_model.predict(X)
print(predictions)

[208500. 181500. 223500. ... 266500. 142125. 147500.]

In [24]:
y

0       208500
1       181500
2       223500
3       140000
4       250000
5       143000
6       307000
7       200000
8       129900
9       118000
10      129500
11      345000
12      144000
13      279500
14      157000
15      132000
16      149000
17       90000
18      159000
19      139000
20      325300
21      139400
22      230000
23      129900
24      154000
25      256300
26      134800
27      306000
28      207500
29       68500
         ...
1430    192140
1431    143750
1432     64500
1433    186500
1434    160000
1435    174000
1436    120500
1437    394617
1438    149700
1439    197000
1440    191000
1441    149300
1442    310000
1443    121000
1444    179600
1445    129000
1446    157900
1447    240000
1448    112000
1449     92000
1450    136000
1451    287090
1452    145000
1453     84500
1454    185000
1455    175000
1456    210000
1457    266500
1458    142125
1459    147500
Name: SalePrice, Length: 1460, dtype: int64

In [25]:
predictions

array([208500., 181500., 223500., ..., 266500., 142125., 147500.])